@import url("https://fonts.googleapis.com/css2?family=Carme&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&family=Spline+Sans:wght@300;400;500;600;700&display=swap");
$font-family-base: "Open Sans", sans-serif;
$primary: #0099cc;
$danger: #e76c7b;
$warning: #ed973e;
$success: #43b2a8;

.bi {
  color: white;
  padding: 2px;
}

@import "../node_modules/bootstrap/scss/bootstrap";
